{
  "arrowParens": "always",
  "printWidth": 100,
  "singleQuote": true,
  "semi": false,
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "overrides": [{
      "files": ["*.css", "*.scss", "*.yml", "*.md"],
      "options": {
        "singleQuote": false
      }
  }]
}